---
layout: default
---

<!-- Page Header -->  
<header>
{% if page.background %}
  <div class="site-section-cover overlay" style="background-image: ('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
       {% else %}
       <div class="ftco-blocks-cover-1">
       {% endif %}
       <div class="overlay"></div> 
       <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5" data-aos="fade-right">
           <div class="page-heading">
            <h1 class="mb-3 text-white">{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
             </header>
           
<div class="container">
        {{ content }}
           </div>
